<div class="app__content">
  <form>
    <div class="form__row">
      <label class="form__label" for="username">Username:</label>
      <input class=form_input type="text" id="username">
    </div>
    <div class="form__row">
      <label class="form__label" for="email">Email:</label>
      <input class=form_input type="text" id="email">
    </div>
    <div class="form__row">
      <label class="form__label" for="password">Password:</label>
      <input class=form_input type="password" id="password">
    </div>
  </form>
</div>