<div class="app__content">
  <header class="header">
    <nav class="nav nav_main">
      <ul class="nav__items">
        <li class="nav__item">Signup</li>
        <li class="nav__item">Login</li>
      </ul>
    </nav>
    <div class="hero">
      <h1 class="hero__title">
        <img src="assets/img/logo-nav@2x.png" class="hero__logo" alt="Angular" /> Movie Database
      </h1>
    </div>
    <div class="search"></div>
  </header>
  <main class="container container_two">
    <aside class="container__content aside">

    </aside>
    <section class="container__content grid">

    </section>
  </main>
</div>
